<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>OnlineLibrary</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CLogin</display-name>
    <servlet-name>CLogin</servlet-name>
    <servlet-class>validate.CLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CLogin</servlet-name>
    <url-pattern>/CLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CLoginvalidate</display-name>
    <servlet-name>CLoginvalidate</servlet-name>
    <servlet-class>validate.CLoginvalidate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CLoginvalidate</servlet-name>
    <url-pattern>/CLoginvalidate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminValidate</display-name>
    <servlet-name>AdminValidate</servlet-name>
    <servlet-class>validate.AdminValidate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminValidate</servlet-name>
    <url-pattern>/AdminValidate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>validate.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchBook</display-name>
    <servlet-name>SearchBook</servlet-name>
    <servlet-class>library.SearchBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchBook</servlet-name>
    <url-pattern>/SearchBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Staffdetails</display-name>
    <servlet-name>Staffdetails</servlet-name>
    <servlet-class>library.Staffdetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Staffdetails</servlet-name>
    <url-pattern>/Staffdetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BorrowBook</display-name>
    <servlet-name>BorrowBook</servlet-name>
    <servlet-class>library.BorrowBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BorrowBook</servlet-name>
    <url-pattern>/BorrowBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayBooks</display-name>
    <servlet-name>DisplayBooks</servlet-name>
    <servlet-class>library.DisplayBooks</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayBooks</servlet-name>
    <url-pattern>/DisplayBooks</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BorrowedBooks</display-name>
    <servlet-name>BorrowedBooks</servlet-name>
    <servlet-class>library.BorrowedBooks</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BorrowedBooks</servlet-name>
    <url-pattern>/BorrowedBooks</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>BorrowHistoryUserI</display-name>
    <servlet-name>BorrowHistoryUserI</servlet-name>
    <servlet-class>library.BorrowHistoryUserI</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BorrowHistoryUserI</servlet-name>
    <url-pattern>/BorrowHistoryUserI</url-pattern>
  </servlet-mapping>
</web-app>